/* Estilo  da página */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: aqua;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilo do container  */
.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
  margin: 10px;
}

/* Estilo do botão */
.botao {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

/* Estilo da imagen dentro do container */
img {
  max-width: 50%;
  margin-top: 20px;
}
