body {
  background-color: #37d376;
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 10px;
  padding: 10px;
  font-style: italic;
  text-decoration: underline;
}

p {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

li {
  margin: 5px 10px;
  text-align: center;
  padding: 10px;
  text-decoration: underline;
}

button {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

button a {
  color: black;
  text-decoration: none;
}
